---
permalink: /search-index.json
---
[
{% for item in collections.all %}
  {% if item.url and item.data.title and item.url != '/search-index.json' %}
  {
    "title": {{ item.data.title | dump | safe }},
    "url": {{ item.url | dump | safe }},
    "summary": {{ (item.data.description or item.templateContent | striptags | truncate(140, true, '...')) | dump | safe }}
  }{% if not loop.last %},{% endif %}
  {% endif %}
{% endfor %}
]
